.CssMakieLayout_hoverable.anim-default{
    transition: all 0.1s ease;
}
.CssMakieLayout_hoverable.anim-default:hover, .CssMakieLayout_stay.anim-default{
    transform: scale(1.1);
}

.CssMakieLayout_hoverable.anim-border{
    transition: all 0.1s ease;
    border: 2px solid transparent;

}
.CssMakieLayout_hoverable.anim-border:hover, .CssMakieLayout_stay.anim-border{
    border: 2px solid black;
}

.CssMakieLayout_hoverable.anim-border.white{
    transition: all 0.1s ease;
    border: 2px solid transparent;
    padding: 4px;
    padding-bottom: 0px;

}
.CssMakieLayout_hoverable.anim-border.white:hover, .CssMakieLayout_stay.white.anim-border{
    border: 2px solid white;
}


.CssMakieLayout_hstack{
    display:flex;
    flex-direction: row;
}

.CssMakieLayout_vstack{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.CssMakieLayout_zstack{
    display:flex;
    flex-direction: row;
}

.CssMakieLayout_zstack, .CssMakieLayout_zstack > *{
    transition: all 0.3s ease;
}

.CssMakieLayout_zstack.anim-default .CssMakieLayout_active{
    transition: all 0.3s ease;
    width: 100%;
    overflow: hidden;

}

.CssMakieLayout_zstack.anim-default > :not(.CssMakieLayout_active){
    transition: all 0.3s ease;
    width: 0%;
    overflow: hidden;
}

.CssMakieLayout_zstack.anim-whoop{
    display: grid;
}

.CssMakieLayout_zstack.anim-whoop > *{
    grid-area: 1/1/1/1;

}

.CssMakieLayout_zstack.anim-whoop .CssMakieLayout_active{
    z-index: 4;
    position: absolute;
    transition: all 0.3s ease;
    transform: scale(1);
    overflow: hidden;

}

.CssMakieLayout_zstack.anim-whoop > :not(.CssMakieLayout_active){
    position: absolute;
    z-index: 1;

    transition: all 0.3s ease;
    transform: scale(0);
    overflow: hidden;
}

.CssMakieLayout_zstack.anim-static .CssMakieLayout_active{
    overflow: hidden;

}

.CssMakieLayout_zstack.anim-static > :not(.CssMakieLayout_active){
    width: 0px;
    overflow: hidden;
}

.CssMakieLayout_zstack.anim-opacity .CssMakieLayout_active{
    transition: all 0.1s ease;
    opacity: 1;

}

.CssMakieLayout_zstack.anim-opacity > :not(.CssMakieLayout_active){
    transition: all 0.1s ease;
    opacity: 0;
}

.upper{
    text-transform: uppercase;
}
.CssMakieLayout_btn button{
    height: 100%;
    width: 100%;
}
.CssMakieLayout_btn button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}
