.CSSMakieLayout_hoverable.anim-default{
    transition: all 0.1s ease;
}
.CSSMakieLayout_hoverable.anim-default:hover, .CSSMakieLayout_stay.anim-default{
    transform: scale(1.1);
}

.CSSMakieLayout_hoverable.anim-border{
    transition: all 0.1s ease;
    border: 2px solid transparent;

}
.CSSMakieLayout_hoverable.anim-border:hover, .CSSMakieLayout_stay.anim-border{
    border: 2px solid black;
}

.CSSMakieLayout_hoverable.anim-border.white{
    transition: all 0.1s ease;
    border: 2px solid transparent;
    padding: 4px;
    padding-bottom: 0px;

}
.CSSMakieLayout_hoverable.anim-border.white:hover, .CSSMakieLayout_stay.white.anim-border{
    border: 2px solid white;
}


.CSSMakieLayout_hstack{
    display:flex;
    flex-direction: row;
}

.CSSMakieLayout_vstack{
    display: flex;
    flex-direction: column;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.CSSMakieLayout_zstack{
    display:flex;
    flex-direction: row;
}

.CSSMakieLayout_zstack, .CSSMakieLayout_zstack > *{
    transition: all 0.3s ease;
}

.CSSMakieLayout_zstack.anim-default .CSSMakieLayout_active{
    transition: all 0.3s ease;
    width: 100%;
    overflow: hidden;

}

.CSSMakieLayout_zstack.anim-default > :not(.CSSMakieLayout_active){
    transition: all 0.3s ease;
    width: 0%;
    overflow: hidden;
}

.CSSMakieLayout_zstack.anim-whoop{
    display: grid;
}

.CSSMakieLayout_zstack.anim-whoop > *{
    grid-area: 1/1/1/1;

}

.CSSMakieLayout_zstack.anim-whoop .CSSMakieLayout_active{
    z-index: 4;
    position: absolute;
    transition: all 0.3s ease;
    transform: scale(1);
    overflow: hidden;

}

.CSSMakieLayout_zstack.anim-whoop > :not(.CSSMakieLayout_active){
    position: absolute;
    z-index: 1;

    transition: all 0.3s ease;
    transform: scale(0);
    overflow: hidden;
}

.CSSMakieLayout_zstack.anim-static .CSSMakieLayout_active{
    overflow: hidden;

}

.CSSMakieLayout_zstack.anim-static > :not(.CSSMakieLayout_active){
    width: 0px;
    overflow: hidden;
}

.CSSMakieLayout_zstack.anim-opacity .CSSMakieLayout_active{
    transition: all 0.1s ease;
    opacity: 1;

}

.CSSMakieLayout_zstack.anim-opacity > :not(.CSSMakieLayout_active){
    transition: all 0.1s ease;
    opacity: 0;
}

.upper{
    text-transform: uppercase;
}
.CSSMakieLayout_btn button{
    height: 100%;
    width: 100%;
}
.CSSMakieLayout_btn button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
}
